################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaskerFSBlazor/obj
/TaskerFSBlazor/Properties/serviceDependencies.local.json.user
/TaskerFSBlazor/Properties/serviceDependencies.local.json
/TaskerFSBlazor.Client/obj
/TaskerFSBlazor/TaskerFSBlazor.csproj.user
/TaskerFSBlazor/bin/Debug/net10.0
/TaskerFSBlazor.Client/bin/Debug/net10.0
